# Sentiment Analysis
# Articles_classification

In [1]:
import pandas as pd
import string
import nltk

In [2]:
df1=pd.read_csv('entertainment_data.csv')
df2=pd.read_csv('business_data.csv')
df3=pd.read_csv('education_data.csv')
df4=pd.read_csv('sports_data.csv')
df5=pd.read_csv('technology_data.csv')

In [3]:
# joining all the dataframes
dfs=[df1,df2,df3,df4,df5]
df = pd.concat(dfs)

In [4]:
df.head()

,headlines,description,content,url,category
0,Bhumi Pednekar plays an investigative journali...,Bhumi Pednekar plays an investigative journali...,Actor Bhumi Pednekar is all set to take over t...,https://indianexpress.com/article/entertainmen...,entertainment
1,Karan Johar channels his inner Rajinikanth in ...,Karan Johar and Kiara Advani featured in a new...,Karan Johar reunited with his Lust Stories sta...,https://indianexpress.com/article/entertainmen...,entertainment
2,"‘Shah Rukh Khan is irreplaceable, actors will ...",Karan Johar opened up about the blurring lines...,Filmmaker Karan Johar declared the the concept...,https://indianexpress.com/article/entertainmen...,entertainment
3,"Years after break-up with Divya Agarwal, Varun...",Varun Sood said that it is easy for him to for...,Ever since Divya Agarwal and Varun Sood parted...,https://indianexpress.com/article/entertainmen...,entertainment
4,Guntur Kaaram box office collection Day 6: Mah...,Guntur Kaaram box office collection Day 6: Mah...,"On Tuesday (Day 5), Mahesh Babu’s latest relea...",https://indianexpress.com/article/entertainmen...,entertainment

## Preprocessing

In [5]:
# Shuffling the columns so the df have some randomness
from sklearn.utils import shuffle
df = shuffle(df)
df.head()

,headlines,description,content,url,category
1241,GST collection rises 11 % to Rs 1.59 lakh cr i...,The Goods and Services Tax (GST) collection wa...,GST collections grew by 11 per cent to over Rs...,https://indianexpress.com/article/business/eco...,business
1733,Assam Board 12th Results 2023: AHSEC to declar...,Assam Board AHSEC HS Class 12 Results 2023: On...,Assam Board AHSEC HS Class 12 Results 2023: Th...,https://indianexpress.com/article/education/as...,education
1473,Delhi HC permits St Stephen’s College to hold ...,"Earlier this year, the St Stephen's College fi...",The Delhi High Court has permitted the St Step...,https://indianexpress.com/article/education/de...,education
633,"Hyundai sales up 18% at 68,728 units in October",Hyundai Motors' domestic sales increased by 15...,Hyundai Motor India on Wednesday said its tota...,https://indianexpress.com/article/business/com...,business
463,CBSE Board Exams 2024: Important topics in Cla...,Focusing on the scoring chapters and leveragin...,— Sonali Khosla\nWhen it comes to the syllabus...,https://indianexpress.com/article/education/sc...,education

In [6]:
# resetting the index
df.reset_index(inplace=True)

In [7]:
df.head()

,index,headlines,description,content,url,category
0,1241,GST collection rises 11 % to Rs 1.59 lakh cr i...,The Goods and Services Tax (GST) collection wa...,GST collections grew by 11 per cent to over Rs...,https://indianexpress.com/article/business/eco...,business
1,1733,Assam Board 12th Results 2023: AHSEC to declar...,Assam Board AHSEC HS Class 12 Results 2023: On...,Assam Board AHSEC HS Class 12 Results 2023: Th...,https://indianexpress.com/article/education/as...,education
2,1473,Delhi HC permits St Stephen’s College to hold ...,"Earlier this year, the St Stephen's College fi...",The Delhi High Court has permitted the St Step...,https://indianexpress.com/article/education/de...,education
3,633,"Hyundai sales up 18% at 68,728 units in October",Hyundai Motors' domestic sales increased by 15...,Hyundai Motor India on Wednesday said its tota...,https://indianexpress.com/article/business/com...,business
4,463,CBSE Board Exams 2024: Important topics in Cla...,Focusing on the scoring chapters and leveragin...,— Sonali Khosla\nWhen it comes to the syllabus...,https://indianexpress.com/article/education/sc...,education

In [8]:
df["category"].value_counts()

category
business         2000
education        2000
entertainment    2000
sports           2000
technology       2000
Name: count, dtype: int64

In [9]:
df.shape

(10000, 6)

In [10]:
df['category'] = df['category'].astype('category')

df['category'] = df['category'].cat.codes
df['category']

0       0
1       1
2       1
3       0
4       1
       ..
9995    4
9996    0
9997    4
9998    3
9999    1
Name: category, Length: 10000, dtype: int8

In [11]:
y=df['category']
y

0       0
1       1
2       1
3       0
4       1
       ..
9995    4
9996    0
9997    4
9998    3
9999    1
Name: category, Length: 10000, dtype: int8

In [12]:
# joining the columns to create one and then i will drop the columns
df['Content'] = df['headlines'] + ' ' + df['description'] + ' ' + df['content']

df.drop(['headlines', 'description', 'content', 'url','index','category'], axis=1, inplace=True)

In [13]:
df.head()

                                             Content
0  GST collection rises 11 % to Rs 1.59 lakh cr i...
1  Assam Board 12th Results 2023: AHSEC to declar...
2  Delhi HC permits St Stephen’s College to hold ...
3  Hyundai sales up 18% at 68,728 units in Octobe...
4  CBSE Board Exams 2024: Important topics in Cla...

In [14]:
## Convert to lowercase
df['clean_Content'] = df['Content'].str.lower()
df.head(2)

,Content,clean_Content
0,GST collection rises 11 % to Rs 1.59 lakh cr i...,gst collection rises 11 % to rs 1.59 lakh cr i...
1,Assam Board 12th Results 2023: AHSEC to declar...,assam board 12th results 2023: ahsec to declar...

### Removes Punctuations

In [15]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [16]:
def remove_punctuations(text):
    punctuations = string.punctuation
    return text.translate(str.maketrans('', '', punctuations))

In [17]:
df['clean_Content'] = df['clean_Content'].apply(lambda x: remove_punctuations(x))
df.head()

,Content,clean_Content
0,GST collection rises 11 % to Rs 1.59 lakh cr i...,gst collection rises 11 to rs 159 lakh cr in ...
1,Assam Board 12th Results 2023: AHSEC to declar...,assam board 12th results 2023 ahsec to declare...
2,Delhi HC permits St Stephen’s College to hold ...,delhi hc permits st stephen’s college to hold ...
3,"Hyundai sales up 18% at 68,728 units in Octobe...",hyundai sales up 18 at 68728 units in october ...
4,CBSE Board Exams 2024: Important topics in Cla...,cbse board exams 2024 important topics in clas...

### Filtering Stopwords

In [18]:
from nltk.corpus import stopwords

In [19]:
", ".join(stopwords.words('english'))

"i, me, my, myself, we, our, ours, ourselves, you, you're, you've, you'll, you'd, your, yours, yourself, yourselves, he, him, his, himself, she, she's, her, hers, herself, it, it's, its, itself, they, them, their, theirs, themselves, what, which, who, whom, this, that, that'll, these, those, am, is, are, was, were, be, been, being, have, has, had, having, do, does, did, doing, a, an, the, and, but, if, or, because, as, until, while, of, at, by, for, with, about, against, between, into, through, during, before, after, above, below, to, from, up, down, in, out, on, off, over, under, again, further, then, once, here, there, when, where, why, how, all, any, both, each, few, more, most, other, some, such, no, nor, not, only, own, same, so, than, too, very, s, t, can, will, just, don, don't, should, should've, now, d, ll, m, o, re, ve, y, ain, aren, aren't, couldn, couldn't, didn, didn't, doesn, doesn't, hadn, hadn't, hasn, hasn't, haven, haven't, isn, isn't, ma, mightn, mightn't, mustn, mustn't, needn, needn't, shan, shan't, shouldn, shouldn't, wasn, wasn't, weren, weren't, won, won't, wouldn, wouldn't"

In [20]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    return " ".join([word for word in text.split() if word not in STOPWORDS])

In [21]:
df['clean_Content'] = df['clean_Content'].apply(lambda x: remove_stopwords(x))
df.head()

,Content,clean_Content
0,GST collection rises 11 % to Rs 1.59 lakh cr i...,gst collection rises 11 rs 159 lakh cr aug imp...
1,Assam Board 12th Results 2023: AHSEC to declar...,assam board 12th results 2023 ahsec declare hs...
2,Delhi HC permits St Stephen’s College to hold ...,delhi hc permits st stephen’s college hold int...
3,"Hyundai sales up 18% at 68,728 units in Octobe...",hyundai sales 18 68728 units october hyundai m...
4,CBSE Board Exams 2024: Important topics in Cla...,cbse board exams 2024 important topics class 1...

### the 10 most frequent words

In [22]:
from collections import Counter
word_count = Counter()
for text in df['clean_Content']:
    for word in text.split():
        word_count[word] += 1
        
word_count.most_common(10)

[('said', 12510),
 ('india', 9450),
 ('also', 8541),
 ('per', 8121),
 ('cent', 6419),
 ('rs', 6306),
 ('already', 5727),
 ('advertisement', 5690),
 ('2023', 5487),
 ('new', 5393)]

In [23]:
# print(word_count)

### Remove Special characters

In [24]:
import re
def remove_spl_chars(text):
    text = re.sub('[^a-zA-Z0-9]', ' ', text)
    text = re.sub('\s+', ' ', text)
    return text

In [25]:
df['clean_Content'] = df['clean_Content'].apply(lambda x: remove_spl_chars(x))
df.head()

,Content,clean_Content
0,GST collection rises 11 % to Rs 1.59 lakh cr i...,gst collection rises 11 rs 159 lakh cr aug imp...
1,Assam Board 12th Results 2023: AHSEC to declar...,assam board 12th results 2023 ahsec declare hs...
2,Delhi HC permits St Stephen’s College to hold ...,delhi hc permits st stephen s college hold int...
3,"Hyundai sales up 18% at 68,728 units in Octobe...",hyundai sales 18 68728 units october hyundai m...
4,CBSE Board Exams 2024: Important topics in Cla...,cbse board exams 2024 important topics class 1...

### Stemming

In [26]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [27]:
df['stemmed_Content'] = df['clean_Content'].apply(lambda x: stem_words(x))
df.head()

,Content,clean_Content,stemmed_Content
0,GST collection rises 11 % to Rs 1.59 lakh cr i...,gst collection rises 11 rs 159 lakh cr aug imp...,gst collect rise 11 rs 159 lakh cr aug improv ...
1,Assam Board 12th Results 2023: AHSEC to declar...,assam board 12th results 2023 ahsec declare hs...,assam board 12th result 2023 ahsec declar hs s...
2,Delhi HC permits St Stephen’s College to hold ...,delhi hc permits st stephen s college hold int...,delhi hc permit st stephen s colleg hold inter...
3,"Hyundai sales up 18% at 68,728 units in Octobe...",hyundai sales 18 68728 units october hyundai m...,hyundai sale 18 68728 unit octob hyundai motor...
4,CBSE Board Exams 2024: Important topics in Cla...,cbse board exams 2024 important topics class 1...,cbse board exam 2024 import topic class 12th p...

### Lemmatizing

In [28]:
# Lemmatizing
from nltk import pos_tag
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

lemmatizer =WordNetLemmatizer()
wordnet_map = {"N":wordnet.NOUN, "V":wordnet.VERB, "J":wordnet.ADJ, "R":wordnet.ADV}

def lemmatize_words(text):
    # find pos tags
    pos_text = pos_tag(text.split())
    return " ".join([lemmatizer.lemmatize(word, wordnet_map.get(pos[0], wordnet.NOUN)) for word, pos in pos_text])

In [29]:
df['lemmatized_Content'] = df['clean_Content'].apply(lambda x: lemmatize_words(x))
df.head()

,Content,clean_Content,stemmed_Content,lemmatized_Content
0,GST collection rises 11 % to Rs 1.59 lakh cr i...,gst collection rises 11 rs 159 lakh cr aug imp...,gst collect rise 11 rs 159 lakh cr aug improv ...,gst collection rise 11 r 159 lakh cr aug impro...
1,Assam Board 12th Results 2023: AHSEC to declar...,assam board 12th results 2023 ahsec declare hs...,assam board 12th result 2023 ahsec declar hs s...,assam board 12th result 2023 ahsec declare h s...
2,Delhi HC permits St Stephen’s College to hold ...,delhi hc permits st stephen s college hold int...,delhi hc permit st stephen s colleg hold inter...,delhi hc permit st stephen s college hold inte...
3,"Hyundai sales up 18% at 68,728 units in Octobe...",hyundai sales 18 68728 units october hyundai m...,hyundai sale 18 68728 unit octob hyundai motor...,hyundai sale 18 68728 unit october hyundai mot...
4,CBSE Board Exams 2024: Important topics in Cla...,cbse board exams 2024 important topics class 1...,cbse board exam 2024 import topic class 12th p...,cbse board exams 2024 important topic class 12...

In [30]:
df2=df.sample(frac=1).head(5)
df2

,Content,clean_Content,stemmed_Content,lemmatized_Content
4856,Skriniar no longer Inter captain says Inzaghi ...,skriniar longer inter captain says inzaghi ahe...,skriniar longer inter captain say inzaghi ahea...,skriniar longer inter captain say inzaghi ahea...
3248,UBS ends rescue packages from Swiss govt that ...,ubs ends rescue packages swiss govt paved way ...,ub end rescu packag swiss govt pave way credit...,ubs end rescue package swiss govt pave way cre...
83,Ira Khan and Nupur Shikhare make first public ...,ira khan nupur shikhare make first public appe...,ira khan nupur shikhar make first public appea...,ira khan nupur shikhare make first public appe...
5834,NEET UG: Supreme Court rejects plea against si...,neet ug supreme court rejects plea signature c...,neet ug suprem court reject plea signatur camp...,neet ug supreme court reject plea signature ca...
9039,"Japan’s ispace is back with second mission, mi...",japan s ispace back second mission micro rover...,japan s ispac back second mission micro rover ...,japan s ispace back second mission micro rover...

In [31]:
total_word_count = 0
for content in df['lemmatized_Content']:
    total_word_count += sum(1 for _ in content.split())
print(total_word_count)

1670052

## Tagging Parts of Speech

In [32]:
z=df['lemmatized_Content']

In [33]:
from nltk import pos_tag

In [34]:
from nltk.tokenize import word_tokenize

def tokenize_text(text):
    return word_tokenize(text)

tok = df['lemmatized_Content'].apply(lambda x: tokenize_text(x))

# print(ff)

In [35]:
def apply_pos_tagging(tokens):
    return pos_tag(tokens)

tps= tok.apply(lambda x: apply_pos_tagging(x))

print(tps)

0       [(gst, NN), (collection, NN), (rise, NN), (11,...
1       [(assam, RB), (board, NN), (12th, CD), (result...
2       [(delhi, JJ), (hc, NN), (permit, NN), (st, NN)...
3       [(hyundai, JJ), (sale, NN), (18, CD), (68728, ...
4       [(cbse, NNS), (board, NN), (exams, VBZ), (2024...
                              ...
9995    [(apple, NN), (samsung, NN), (tile, NN), (quic...
9996    [(eye, NN), (china, NN), (u, JJ), (agency, NN)...
9997    [(pay, NN), (1000, CD), (iphone, NN), (apple, ...
9998    [(sock, NN), (stun, NN), (finance, NN), (profe...
9999    [(chse, NN), (odisha, MD), (plus, CC), (two, C...
Name: lemmatized_Content, Length: 10000, dtype: object

In [36]:
# NNP: Stands for Proper noun, singular. It is used to tag individual names or unique entities. Examples include personal names like “Sarah” or specific locations like “Paris”
# NN: Stands for noun, singular. It is used to tag individual words that represent single entities or objects. Examples include words like “desk,” “apple,” or “dog”
# DT: Stands for determiner. Determiners are words that introduce or specify nouns. They help provide context or limit the reference of a noun. Examples of determiners include “the,” “a,” “an,” “this,” and “those”
# VBZ: Stands for verb, present tense, 3rd person singular. It is used to tag verbs that refer to actions happening in the present and are associated with the third person singular subjects (such as “he,” “she,” or “it”). Examples include words like “bases,” “reconstructs,” “marks,” “mixes,” and “displeases”
# (“.”) is not assigned a specific POS tag. Instead, it is typically treated as punctuation. Punctuation marks like periods, commas, question marks, and exclamation points serve to structure sentences and indicate pauses or breaks in text.
# PRP: Stands for personal pronoun. Personal pronouns are words that replace nouns to refer to specific people or things. They vary based on the person (first, second, or third) and number (singular or plural). Examples include “I,” “you,” “he,” “she,” “it,” “we,” and “they” 
# VBP : Certainly! The VBP tag in part-of-speech (POS) tagging stands for “verb, present tense, not 3rd person singular.” It is used to identify verbs in the present tense that do not refer to third-person singular subjects. Examples of words tagged with VBP include “wrap,” “resort,” “sue,” “twist,” “spill,” and “cure”
# CD : Certainly! Let’s explore the fascinating world of Boolean algebra and its concepts related to Sum of Product (SOP) and Product of Sum (POS) forms.
# NNS : stands for noun, common, plural. It is used to identify plural common nouns in a sentence. Here are some examples:
# JJ : corresponds to adjectives. ('good', 'JJ'),
# CC: conjunction, coordinating & 'n and both but either et for less minus neither nor or plus so therefore times v. versus vs. whether yet
# CD: numeral, cardinal mid-1890 nine-thirty forty-two one-tenth ten million 0.5 one forty-seven 1987
# IN: preposition (  NEXT )
# JJ: adjective

## Chunking

In [37]:
# from nltk.chunk import RegexpParser

In [38]:
# # Download necessary NLTK data
# nltk.download('punkt')
# nltk.download('averaged_perceptron_tagger')

In [39]:
# # Define the chunk grammar (NP: Noun Phrase)
# chunk_grammar = "NP: {<DT>?<JJ>*<NN>}"

# # Create a chunk parser
# chunk_parser = RegexpParser(chunk_grammar)

# def chunk_sentence(tagged_sentence):
#     return chunk_parser.parse(tagged_sentence)

# chunked = tps1.apply(chunk_sentence)


# # Print and visualize the chunked sentence
# print("Chunked:", chunked)

## Chinking

In [40]:
# # Define the chunk grammar with a chink pattern to exclude adjectives (JJ)
# chunk_grammar_chink = """
#   NP: {<DT>?<JJ>*<NN>}      # Chunk Noun Phrases
#       }<JJ>{               # Chink to remove adjectives
# """

# # Create a chunk parser for chinking
# chunk_parser_chink = RegexpParser(chunk_grammar_chink)



# def chink_sentence(tagged_sentence):
#     return chunk_parser_chink.parse(tagged_sentence)

# chunked_chink = tps1.apply(chunk_sentence)

# # Parse the tagged sentence with chinking
# # chunked_chink = chunk_parser_chink.parse(tps1)

# # Print and visualize the chunked sentence with chinking
# print("Chunked with Chinking:", chunked_chink)

## Named-Entity Recognition

In [41]:
import spacy
from IPython.core.display import display, HTML

C:\Users\ENG.Ghazaly\AppData\Local\Temp\ipykernel_5188\3759813491.py:2: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [42]:
from spacy import displacy

In [43]:
nlp = spacy.load("en_core_web_sm")
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [44]:
nlp.pipe_labels["ner"]

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [ ]:
# Function to extract named entitie
def extract_entities(text):
    doc = nlp(text)
    entities = [(ent.text, ent.label_) for ent in doc.ents]
    return entities

ndr = df['lemmatized_Content'].apply(extract_entities)

print(ndr)

In [ ]:
def extract_and_display_entities(text):
    doc = nlp(text)
    entities = [(ent.text, ent.label_) for ent in doc.ents]
    html = displacy.render(doc, style="ent", jupyter=True)
    display(HTML(html))
    return entities

ndr2= df['lemmatized_Content'].apply(lambda x: extract_and_display_entities(x))

print(ndr2)

## Dependency Parsing

In [ ]:
def parse_and_display_dependencies(text):
    doc = nlp(text)
    dependencies = [(token.text, token.dep_, token.head.text) for token in doc]
    return dependencies

dp = df['lemmatized_Content'].apply(lambda x: parse_and_display_dependencies(x))

print(dp)

## Rule-Based Matching

In [ ]:
from spacy.matcher import Matcher
matcher = Matcher(nlp.vocab)
pattern = [{'LOWER': 'india'}]
matcher.add("IndiaPattern", [pattern])

In [ ]:
def apply_rule_based_matching(text):
    doc = nlp(text)
    matches = matcher(doc)
    matched_tokens = [doc[start:end].text for match_id, start, end in matches]
    return matched_tokens

rbm = df['lemmatized_Content'].apply(lambda x: apply_rule_based_matching(x))

print(rbm)

## Vectorization

In [ ]:
X=df['lemmatized_Content']

### CountVectorizer

In [ ]:
# from sklearn.feature_extraction.text import CountVectorizer
# cv=CountVectorizer()

In [ ]:
# X=cv.fit_transform(X)
# trans = cv.transform(X)

### TfidfVectorizer

In [ ]:
# text
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()

In [ ]:
X = tfidf.fit_transform(X)

## train_test_split

In [ ]:
from sklearn.model_selection import train_test_split
X_train , X_test , Y_train , Y_test  = train_test_split(X, y, test_size = 0.2 ,  random_state = 42)

## Model

### LogisticRegression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, f1_score

In [ ]:
lr = LogisticRegression()
lr.fit(X_train, Y_train)

# Make predictions
Y_pred_lr = lr.predict(X_test)

accuracy_lr = accuracy_score(Y_test, Y_pred_lr)

f1_lr = f1_score(Y_test, Y_pred_lr, average='weighted')

report_lr = classification_report(Y_test, Y_pred_lr)

# Print the results for classification
print(f"Model: Logistic Regression")
print(f"Accuracy: {accuracy_lr:.4f}")
print(f"F1-Score: {f1_lr:.4f}")
print(f"Classification Report:\n{report_lr}")
print("="*50)

### SVM

In [ ]:
from sklearn.svm import SVC

In [ ]:
model = SVC()
model.fit(X_train, Y_train)

# Make predictions
Y_pred_cls = model.predict(X_test)

accuracy_cls = accuracy_score(Y_test, Y_pred_cls)

f1_cls = f1_score(Y_test, Y_pred_cls, average='weighted')

report_cls = classification_report(Y_test, Y_pred_cls)

# Print the results for classification
print(f"Model: SVM")
print(f"Accuracy: {accuracy_cls:.4f}")
print(f"F1-Score: {f1_cls:.4f}")
print(f"Classification Report:\n{report_cls}")
print("="*50)

In [ ]:
from sklearn.naive_bayes import MultinomialNB

In [ ]:
nb = MultinomialNB()
nb.fit(X_train, Y_train)

In [ ]:
accuracy_nb = accuracy_score(Y_test, Y_pred_cls)